/* UI OVERRIDES
-------------------------------------------------- */
a { color:#B32017 }
a:link { color:#B32017 }
a:visited { color:#B32017 }
a:hover { color:#E9A713 }

/* Carousel */
a.carousel-control {
color: #fff;
}

/* Buttons */
a.btn {
color: #333;
}

.btn-primary,
.btn-primary:visited {
color: #fff;
background-color: #E9A713;
border-color: #AD780F;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
background-color: #D89A13;
border-color: #BC8610;
}

/* NAVIGATION BAR OVERRIDES
-------------------------------------------------- */
.navbar-brand {
display: none;
}

.navbar {
background-color: #606060;
}

.navbar-default {
border: none;
}

.navbar-default .navbar-brand {
color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-text,
.navbar-default  .navbar-nav > li > a {
color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #E9A713;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #fff;
background-color: #E9A713;
}

.navbar-default .navbar-nav > .active-static > a,
.navbar-default .navbar-nav > .active-static > a:hover,
.navbar-default .navbar-nav > .active-static > a:focus {
background-color: #B32017;
}

.navbar-collapse {
padding-left: 0;
}

/* MASTHEAD
-------------------------------------------------- */
#masthead {
margin-top: 50px;
padding: 20px 0;
}

#masthead h2 {
color: #E9A713;
}

#logo {
display: inline-block;
position: relative;
text-indent: -12345px;
background-image: url("../images/halprinlaw-406x160.png");
background-position: center center;
background-repeat: no-repeat;
width: 406px;
height: 160px;
}

#phone {
position: absolute;
left: -130px;
}

footer {
clear:both;
color:#FFF!important;
border-top:8px solid #606060;
background:gray;
padding:8px 6px;
}

footer a:visited,
footer a:link,
footer a:hover,
footer a:active,
footer a:focus  {
color: #fff;
text-decoration: underline;
}

/* PAGE ELEMENTS
--------------------------------------------------*/
.page-title {
color: #B32017;
}

.scroll {
text-align: center;
margin: 20px 0;
}

.quote-box, .service-box {
background-color: #F0F0F0;
padding: 16px;
}

h3.top {
margin-top: 0;
}

table.comfortable th,table.comfortable td {
padding:0 10px 10px 0;
}

/* RESPONSIVE OVERRIDES
-------------------------------------------------- */
@media (max-width: 767px) {
	/* Mast head column */
	.navbar-brand {
	display: inline;
	}
	
	.navbar-collapse {
	padding-left: 15px;
	}
	
	#masthead .row > div {
	text-align: center;
	}
	/* Masthead logo */
	#logo {
	background-image: url("../images/halprinlaw-253x100.png");
	width: 253px;
	height: 100px;
	}

	#phone {
	display: none;
	}
	
	.free-phone-consultation {
	font-size: 24px;
	}
	
	.page-title {
	text-align: center;
	}
	
	.member-org-long {
	width: 70%;
	height: 70%;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	/* Masthead logo */
	#logo {
	background-image: url("../images/halprinlaw-330x130.png");
	width: 330px;
	height: 130px;
	}
	
	#phone {
	display: none;
	}
}

@media (min-width: 993px) {
	.page-bottom {
	border: none;
	}
}